.badge{
  padding: 5px 10px;
  border-radius: 50%;
  background: #5185f6;
  color: #fff;
  margin-right: 10px;
}
.back-prev-btn{
  font-size: 28px;
}
.page-title{
  margin-left: -35px;
  padding: 0;
  text-align: center;
}
.content{
  ion-list-header{
    padding-left: 0 !important;
  }
  form{
    position: relative;
    padding-bottom: 20px;
  }
  .loader-content{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 99;
    background: #00000052;
    padding-top: 150px;
    .loader{
      font-size: 245px;
      width: 80px;
      height: 80px;
      background: #b9490f;
      border-radius: 5px;
      color: #fff;
    }
  }
  .title-main.formule{
    font-size: 14px;
    margin: 25px 0 15px 0;
  }

  [card-section]{
    .card-item{
      box-shadow: 0px 0px 10px #ccc;
      border-radius: 8px;
      margin-top: 5px;
    }
    .card-item.active{
      border: 2px solid var(--ion-color-primary);
    }
    .card{
      min-height: 100px;
      border-radius: 8px;
      box-shadow: 0px 0px 8px #ccc;
      margin-top: 8px;
      ion-avatar{
        width: 50px;
        height: 50px;
        margin: 5px auto 2px auto;
        text-align: center;
        background: #1560a01f;
        padding-top: 5px;
        img{
          border-radius: 0;
        }
      }
      ion-label{
        font-size: 12px;
      }
    }
    .title-label{
      padding: 8px;
      ion-label{
        font-size: 12px;
      }
    }
  }
  ion-row.title-label{
    padding-bottom: 20px;
    ion-label{
      margin: auto;
    }
  }

  .next-btn{
    width: 100%;
    bottom: 20px;
    border-radius: 5px;
    --box-shadow: none !important;
    margin: 0 0 30px 0;
    overflow: hidden;
  }
  .payment-method-item{
    margin: 9px;
    border-radius: 7px;
  }
  .btn-submit-form{
    background: green;
    color: #fff;
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
    border: none;
  }
}
.payment-section{
  padding: 5px;
  div, img{
    width: calc(100% - 10px);
    height: 100%;
  }
  div{
    padding: 5px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
