[page-onboard]{
  body{
    font-family: arial;
  }
  ion-slides {
      height: 100%;
    }

    .swiper-slide {
      display: block;
    }

    .swiper-slide h2 {
      margin-top: 2rem;
      font-family: 'Arial';
      font-size: 2em;
      font-weight: bolder;
      text-align: left;
      color: var(--ion-color-primary, #000000);
    }

    .swiper-slide img {
      max-height: 80%;
      max-width: 100%;
      margin: 10px 0 0;
      pointer-events: none;
    }

    b {
      font-weight: 500;
    }

    p {
      font-size: 15px;
      line-height: 1.5;
      text-align: left;
      color: var(--ion-color-secondary, #000000);
    }

    p b {
      color: var(--ion-text-color, #000000);
    }

    .fab-bottom{
      bottom: 8px;
    }
    .main-container.home{
      margin-top: 0px;
      .slide-form.home{
        padding: 0 !important;
        img{
          margin-top: -10px !important;
          width: 200px;
        }
      }
    }
}
