.next-btn{
  width: 100%;
  bottom: 20px;
  border-radius: 5px;
  --box-shadow: none !important;
  margin: 0 0 30px 0;
  overflow: hidden;
  height: 45px;
  margin-top: 15px;
}
.fab-bottom{
  bottom: 8px;
}
.header-md:after{
  display: none !important;
}
.w-100{
  width: 100%;
}
.custom-input{
  margin-bottom: 20px;
  border-radius: 7px;
  border: 1px solid #6767677a;
}
.npl{
  padding-left: 0 !important;
}
.select-icon{
  display: none !important;
}
.text-left{
  text-align: left !important;
  float: left;
}

.bg-transparent{
  background: transparent !important;
  --background: transparent !important;
}
.mb-0{
  margin-bottom: 0;
}
.custom-alert .alert-wrapper{
    border: 2px solid #535c6d;
    border-radius: 9px;
}
.custom-alert .alert-head{
  text-align: center;
  border-bottom: 1px solid #535c6d;
}
.custom-alert .alert-message{
  text-align: center;
  padding-top: 10px;
}
.custom-alert .alert-button{
  width: 50% !important;
  margin: 0 !important;
}
.custom-alert .alert-button:first-child ..alert-button-inner{
  color: red !important;
}
.custom-alert .alert-button .alert-button-inner{
  justify-content: center !important;
}
ion-header:not(.home-header) ion-toolbar:first-of-type{
  height: 60px !important;
}
ion-header.home-header ion-toolbar:first-of-type{
  min-height: 100px !important;
}
ion-header{
  z-index: 1 !important;
}
ion-content{
  z-index: 10 !important;
}

/* ion-content{
  background: #5185f6;
  --background:  #5185f6;
} */
.main-container{
  background: #fff;
  min-height: calc(100% + 60px);
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.next-btn button,
:host(.button-full:not(.button-round)) .button-native {
    box-shadow: none !important;
    --box-shadow: none !important;
    border-radius: 5px !important;

}
.coming-soon-section{
  background: #fff;
  width: 90%;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}
.coming-soon-icon{
  background: #dbdbdb;
  padding: 15px;
  font-size: 18px;
  border-radius: 50%;
  color: #5185f6;
  margin: -18px auto 15px auto;
  box-shadow: 0px 0px 1px 6px #95a0b9;
}
.coming-soon-label{
  margin-bottom: 35px;
}
.back-btn{
  font-size: 1.8em;
}
.text-right{
  text-align: right;
}
