.fab-bottom{
  bottom: 8px;
}
.header-md:after{
  display: none !important;
}
.w-100{
  width: 100%;
}
.custom-input{
  margin-bottom: 15px;
  border-radius: 50px;
  border: 1px solid #cccccc7a;
}
.npl{
  padding-left: 0 !important;
}
.select-icon{
  display: none !important;
}
.text-left{
  text-align: left !important;
  float: left;
}

.bg-transparent{
  background: transparent !important;
  --background: transparent !important;
}
.mb-0{
  margin-bottom: 0;
}
.custom-alert .alert-wrapper{
    border: 2px solid #535c6d;
    border-radius: 9px;
}
.custom-alert .alert-head{
  text-align: center;
  border-bottom: 1px solid #535c6d;
}
.custom-alert .alert-message{
  text-align: center;
  padding-top: 10px;
}
.custom-alert .alert-button{
  width: 50% !important;
  margin: 0 !important;
}
.custom-alert .alert-button:first-child ..alert-button-inner{
  color: red !important;
}
.custom-alert .alert-button .alert-button-inner{
  justify-content: center !important;
}
ion-header ion-toolbar:first-of-type{
  height: 60px !important;
}
ion-header{
  z-index: 1 !important;
}
ion-content{
  z-index: 10 !important;
}

ion-content{
  background: #fd7028;
  --background:  #fd7028;
}
.main-container{
  background: #fff;
  height: calc(100% + 60px);
  margin-top: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}
.next-btn button,
:host(.button-full:not(.button-round)) .button-native {
    box-shadow: none !important;
    --box-shadow: none !important;
    border-radius: 5px !important;

}
