<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-grid>
          <ion-row class="user-header">
            <ion-col size="12">
              <img [src]="assetsUrl+'images/avatar.png'">
            </ion-col>
            <ion-col size="12">
              <ion-label class="username-title" [routerLink]="'/home'">Seydina Alioune</ion-label>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-list id="inbox-list">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item detail  class="item-menu" (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="full" [class.selected]="route.url == p.url">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
    <ion-tabs>
      <ion-tab-bar slot="bottom"  *ngIf="route.url != '/onboard'">
        <ion-tab-button tab="about-us">
          <ion-icon name="business" ios="business-outline"></ion-icon>
          <ion-label>A propos</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="home">
          <ion-icon name="home" ios="home-outline"></ion-icon>
          <ion-label>Accueil</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="faq">
          <ion-icon name="help" ios="help-outline"></ion-icon>
          <ion-label>Faq</ion-label>
          <ion-badge>6</ion-badge>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
