<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Questions fréquentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="coming-soon-section">
    <ion-row>
      <ion-icon class="coming-soon-icon" name="hammer" ios="hammer-outline"></ion-icon>
    </ion-row>
    <ion-row class="coming-soon-label">
      <ion-label>Cette page est en cours de développement</ion-label>
    </ion-row>
  </ion-grid>
</ion-content>
