[page-home]{
    [header-section]{
        height: 35vh;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 7px;        
        background: linear-gradient(-45deg, #ee7752, #b6f8f8dc, #23a6d5, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;
        [item-user]{
            --background: none;
            padding-top: 30px;
            .avatar-user {
                border: 2px solid #fff;
                background: #aaa;
                height: 64px;
                width: 64px;
            }
            .img-item {
                border-radius: 50%;
                border: 1px solid #ccc;
                background: #d469d075;
            }
        }
        [item-service]{
            --background: none;
            padding-top: 10px;
            ion-row{
                width: 100%;
            }
            .avatar-service{
                height: 45px;
                width: 45px;
                border: 2px solid #fff;
                background: #aaa;
                border-radius: 45px;
                border: 1px solid #ccc;
                background: #d469d075;
            }
        }
       

        @keyframes gradient {
            0% {
                background-position: 0% 50%;
            }
            50% {
                background-position: 100% 50%;
            }
            100% {
                background-position: 0% 50%;
            }
        }
    }

    [card-section]{
        margin: -45px auto;
        -webkit-box-shadow: 0px 29px 21px 0px #AFAFAF1F;
        -moz-box-shadow: 0px 29px 21px 0px #AFAFAF1F;
        box-shadow: 0px 29px 21px 0px #AFAFAF1F;
        border-radius: 8px;
        .first-row{
            .card{
                -webkit-box-shadow: 0px 2px 1px 0px #ee7752,0px 3px 2px 0px  #b6f8f8dc,0px 4px 3px 0px  #23d5ab,0px 5px 6px 0px #23a6d5;
                -moz-box-shadow: 0px 2px 1px 0px #ee7752,0px 4px 2px 0px  #b6f8f8dc,0px 4px 3px 0px  #23d5ab,0px 5px 6px 0px #23a6d5;
                box-shadow: 0px 2px 1px 0px  #ee7752,0px 4px 2px 0px  #b6f8f8dc,0px 4px 3px 0px  #23d5ab,0px 5px 6px 0px #23a6d5;
                border-radius: 8px;
                .avatar{
                    margin: 0 auto;
                }
                .label{
                    font-weight: bold !important;
                    font-size: 16px;
                }
            }
        }
    }

    [list-section]{
        margin-top: 45px;
        .list{
            background: #FAFAFA;
        }
        .item{
            width: 85%;
            margin: 15px 25px;
            overflow: visible;
            box-sizing: border-box;
            .avatar{
                position: absolute;
                left: -20px;
                z-index: 999999;
                box-shadow: 0px 0px 29px 10px #FFF;
                background: #FFFFFF;
                box-shadow:  20px 20px 60px #FAFAFA, -20px -20px 60px #FAFAFA;
            }
            ion-icon{
                position: absolute;
                right: -28px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                /* border: 1px solid; */
                // box-shadow: 0px 0px 29px 10px #FFF;
                background: #FFFFFF;
                box-shadow:  20px 20px 60px #Fff;
            }
        }
    }

}