[page-home]{
  .slide-one{
    height: 100px;
    text-align: center;
    background-position: center;
    .slide{
      height: 100%;
      width: 100%;
      background: #000000ad;
      border-radius: 10px;
      color: #fff;
      text-align: left;
      padding: 10px;
      .title{
        font-size: 16px;
      }
      .description{
        font-size: 12px;
      }
    }
  }
  .header-md:after {
    background-image: none;
  }
    [header-section]{
        background: #f7f7f7f5;

        [item-user]{
            --background: none;
            padding-top: 30px;
            .avatar-user {
                border: 2px solid #fff;
                background: #aaa;
                height: 64px;
                width: 64px;
            }
            .img-item {
                border-radius: 50%;
                border: 1px solid #ccc;
                background: #d469d075;
            }
        }
        [item-service]{
            --background: none;
            padding-top: 10px;
            ion-row{
                width: 100%;
            }
            .avatar-service{
                height: 45px;
                width: 45px;
                border: 2px solid #fff;
                background: #aaa;
                border-radius: 45px;
                border: 1px solid #ccc;
                background: #d469d075;
            }
        }

    }

    [card-section]{
        .card{
          box-shadow: 0px 0px 10px #ccc;
          margin: 5px;
          border-radius: 8px;
          height: 100px;
          padding: 10px;
            .avatar{
              margin: 0 auto;
              background: #f4f4f4;
              padding: 14px;
              width: 50px;
              height: 50px;
                img{
                  border-radius: 0;
                }
            }
            .label{
              font-size: 1em;
              color: #0008;
            }
        }
    }
}
